
@keyframes heart_scale {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s;
  }
  
  @keyframes sparks {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }