/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: "Inter", sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-block-size: 100vh;
  background: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
    font-weight: var(--text-font-weight);
  }
}

.header {
  background-color: #ffffff;
  display: flex;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 46vh;
  inline-size: 49vw;
  margin: 13vh auto;
  gap: 20px;
}

.header h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header h2 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card {
  background-color: #ffffff;
  min-block-size: 100vh;
  position: relative;
  inline-size: 49vw;
  margin: 6vh auto;
  border: 2px solid #000000;
}

.card h3 {
  font-family: var(--main-font);
  font-weight: var(--title-font-weight);
  letter-spacing: -0.25px;
  text-indent: 10px;
  min-block-size: 33px;
  display: flex;
  align-items: center;
}

.image_wrapper {
  position: relative;
  block-size: 89vh;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.card img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.img_bright {
  filter: brightness(150%);
  object-fit: cover;
}

.img_grayscale {
  filter: grayscale(1);
}

.img_sepia {
  filter: sepia(80%);
}

.img_hue-rotate {
  filter: hue-rotate(-20deg);
}

.img_opacity {
  filter: opacity(0.7);
}

.img_blur {
  filter: blur(0.2rem);
}

.img_saturate_contrast {
  filter: saturate(110%) contrast(110%);
}

.label {
  position: absolute;
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);

  font-size: 14px;
  line-height: 100%;

  right: 4%;
  top: 4%;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 3;
  text-shadow: -1px 0 var(--text-strok), 0 1px var(--text-strok),
    1px 0 var(--text-strok), 0 -1px var(--text-strok);
}

@supports (
  (text-stroke: 1px var(--text-strok)) or
    (-webkit-text-stroke: 1px var(--text-strok))
) {
  .label {
    -webkit-text-stroke: 1px var(--text-strok);
    text-stroke: 1px var(--text-strok);
    text-shadow: none;
  }
}

.text_wrapper {
  padding: 25px 28px;
}

.about_sprint {
  font-family: var(--main-font);
  font-weight: var(--text-font-weight);
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
}

.about_sprint:last-child {
  margin-bottom: 65px;
}

.button_wrapper {
  position: absolute;
  inline-size: 172px;
  block-size: 38px;
  bottom: 3%;
  right: 4%;
  display: flex;
  column-gap: 2px;
}

.card__like-button {
  position: relative;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 10px 20px;
  block-size: 38px;
  inline-size: 130px;
  text-align: center;
  cursor: pointer;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  block-size: 38px;
  inline-size: 42px;
  cursor: pointer;
  padding: 0;
  display: flex;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0%;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease-in-out 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart_scale 0.3s ease-in 0.1s forwards;
}

@keyframes heart_scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes sparks {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.save-button {
  position: relative;
  margin: 6vh auto;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: var(--accent-font);
  background-color: #ffffff;
  min-inline-size: 335px;
  block-size: 55px;
  cursor: pointer;
}

.ok__button {
  cursor: pointer;
}

.svg {
  position: relative;
  stroke: var(--button-text-color);
  fill: var(--button-text-color);
  stroke-width: 0.2;
  mix-blend-mode: difference;
  z-index: 1;
}

.button__text {
  position: relative;
  font-family: var(--accent-font);
  font-weight: var(--text-font-weight);
  color: var(--button-text-color);
  font-size: 14px;
  align-self: center;
  z-index: 1;
  mix-blend-mode: difference;
}

.button {
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px #000000;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover.button::before {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

dialog[open] {
  inline-size: 353px;
  block-size: 191px;
  display: grid;
  padding: 27px;
  opacity: 20%;
  column-gap: 22px;
  row-gap: 30px;
}

dialog[open] p {
  text-transform: uppercase;
  line-height: 150%;
}

dialog[open] svg {
  align-self: center;
  justify-self: center;
}

dialog[open] button {
  grid-column: span 2;
  text-transform: uppercase;
  background-color: transparent;
  border: #000000 2px solid;
  inline-size: 293px;
  block-size: 38px;
  justify-self: center;
}

@media (width <= 975px) {
  .header {
    inline-size: 100%;
    block-size: 52vh;
    margin: 16vh 0;
  }

  .card {
    inline-size: 100%;
    margin: 10vh 0;
  }
}

@media (width <= 475px) {
  .image_wrapper {
    block-size: 371px;
  }

  .card {
    margin: 8vh 0;
  }

  .card h3 {
    min-block-size: 30px;
  }

  .label {
    top: 7%;
  }

  .text_wrapper {
    padding: 29px 26px;
    border-top: 2px solid var(--accent-color);
  }

  .about_sprint:last-child {
    margin-bottom: 58px;
  }

  .button_wrapper {
    right: 8%;
  }

  .save-button {
    flex-direction: column;
    min-inline-size: 306px;
    block-size: 84px;
  }
}
